#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#news {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.news-card {
    width: 25%;
}