* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: aliceblue;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #00bf63;
    padding: 5px;
}

#logo {
    border-radius: 5px;
    border: 1px solid #ffde59;
}

#logo:hover {
    scale: 0.99;
    transition: 0.2s;
}

#navbar {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 10px;
}

#navbar a {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: bold;
}

#navbar a:hover {
    color: #ffde59;
    transition: 0.2s;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;

}

#main h1 {
    padding-bottom: 20px;
}

#container {
    background-color: #b3b3b38a;
    padding: 20px 0;
    width: 90%;
    border-radius: 5px;
    border:  2px solid #00bf63;
}

#container p {
    padding: 10px 50px;
}

.team-title {
    padding-left: 30px;
    padding-bottom: 20px;
}

#team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    padding: 15px;
    background-color: #c5c4c4;
    margin: 0 6%;
    border: 2px solid #00bf63;
    border-radius: 5px;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member h4 {
    color: #242424;
}

.member p {
    font-size: 14px;
    color: #777575;
}

#team .avatar {
    width: 150px;
    border: 4px ridge #00bf63;
    border-radius: 5px;
}

#team .avatar:hover {
    scale: 1.01;
    transition: 0.1s;
}

.parceiros-title {
    padding-left: 30px;
    padding-top: 20px;
}

#parceiros {
    display: flex;
    background-color: #c5c4c4;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin: 20px 6%;
    border: 2px solid #00bf63;
    border-radius: 5px;
}

#parceiros img {
    width: 150px;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

#parceiros img:hover {
    scale: 1.05;
    transition: 0.1s;
}

#info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #00bf63;
    padding: 40px 20px;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
}

#info img {
    border: 1px solid #ffde59;
    border-radius: 5px;
}

#info img:hover {
    scale: 1.02;
    transition: 0.2s;
}

.address {
    color: #ffde59;
}

.address strong {
    color: #d9d9d9;
}

.creator {
    color: #d9d9d9;
}

.creator a {
    color: #d9d9d9;
    text-decoration: none;
}

.creator a:hover {
    color: #ffde59;
    transition: 0.2s;
}

#footer {
    display: flex;
    justify-content: center;
    font-family: 'Lato';
    padding: 10px;
    background-color: #242424;
    color: #d9d9d9;
}

@media screen and (max-width: 767px) {
   #info {
    gap: 20px;
    padding: 10px;
   }
   
    #info, #footer {
        font-size: 13px;
    }
}